/* Main
-------------------------------------------------------------- */
//variabless-color
$primary-color: #fdc213;

* {
  box-sizing: border-box;
}

@mixin container {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 16px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  min-width: 320px;
  padding-top: 88px;
  font: 400 16px/1.4 'Roboto', sans-serif;
  text-align: center;
  background-color: #ffffff;
  overflow-x: hidden;
}

h1 {
  font-weight: 500;
  color: $primary-color;
  line-height: 1.2;
  font-size: 60px;
}

h2 {
  display: inline-block;
  color: #002e5b;
  font-size: 31px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  &.title-line {
    position: relative;
    margin-bottom: 29px;
    padding-bottom: 32px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: url(./../img/svg/title-line.svg) center 100% no-repeat;
    }
  }
  &.bg-line-white {
    &::before {
      background: url(./../img/svg/title-line-white.svg) no-repeat center bottom;
    }
  }
}

h3 {
  font-size: 18px;
  font-weight: 900;
  color: #949494;
  line-height: 1.12;
}

a {
  color: #2c2e37;
  font-size: 16px;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 7px 27px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  border: 1px solid $primary-color;
  border-radius: 3px;
  color: #2c2e37;
  font-size: 16px;
  transition: all .3s ease-out;
  opacity: 1;
  &:hover {
    background-color: $primary-color;
    color: #fff
  }
}

.show-element {
  transform: none !important;
  opacity: 1 !important;
}

.static {
  position: static !important;
}

//menu toggle
$button-width: 40px;
$button-height: 40px;
$bar-thickness: 2px;
$button-pad: 12px;
$button-trans-delay: 0.3s;

.toggle-menu {
  overflow: hidden;
  position: absolute;
  right: 15px;
  top: 20px;
  display: none;
  width: $button-width;
  height: $button-height;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 30;
  transition: background $button-trans-delay;
  cursor: pointer;
}

.toggle-menu:focus {
  outline: none;
}

.toggle-menu span {
  display: block;
  position: absolute;
  top: ($button-height / 2) - ($bar-thickness / 2);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: rgb(255, 255, 255);
}

.toggle-menu span::before,
.toggle-menu span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: $primary-color;
  content: "";
}

.toggle-menu span::before {
  top: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad);
}

.toggle-menu span::after {
  bottom: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad);
}

.toggle-menu span {
  display: block;
  position: absolute;
  top: 17px;
  left: 9px;
  right: 8px;
  height: $bar-thickness;
  background: $primary-color;
}

.toggle-menu span::before,
.toggle-menu span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: $primary-color;
  content: "";
}

.toggle-menu span::before {
  top: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad);
}

.toggle-menu span::after {
  bottom: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad);
}

.toggle-menu__htra.active span {
  transform: rotate(180deg);
}

.toggle-menu__htra.active span::before,
.toggle-menu__htra.active span::after {
  width: 50%;
}

.toggle-menu__htra.active span::before {
  top: 0;
  transform: translateX(-$bar-thickness) translateY($bar-thickness/2) rotate(-45deg);
}

.toggle-menu__htra.active span::after {
  bottom: 0;
  transform: translateX(-$bar-thickness) translateY(-$bar-thickness/2) rotate(45deg);
}

.toggle-menu__htx {
  border: 2px solid $primary-color;
  background-color: transparent;
}

.toggle-menu__htx span {
  transition: background 0 $button-trans-delay;
}

.toggle-menu__htx span::before,
.toggle-menu__htx span::after {
  transition-duration: $button-trans-delay, $button-trans-delay;
  transition-delay: $button-trans-delay, 0;
}

.toggle-menu__htx span::before {
  transition-property: top, transform;
}

.toggle-menu__htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.toggle-menu__htx.active span {
  background: none;
}

.toggle-menu__htx.active span::before {
  top: 0;
  transform: rotate(45deg);
}

.toggle-menu__htx.active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.toggle-menu__htx.active span::before,
.toggle-menu__htx.active span::after {
  transition-delay: 0, $button-trans-delay;
}

.toggle-menu span,
.toggle-menu span::before,
.toggle-menu span::after {
  background-color: $primary-color;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 7px;
  padding-bottom: 11px;
  background-color: #ffffff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.18);
  z-index: 1000;
}

.header__inner {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 100;
  margin-right: auto;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    left: 101px;
    bottom: -35%;
    width: 16px;
    height: 50px;
    background: #fff url(./../img/logo.png) 0 0 no-repeat;
    transform: translateY(0);
    cursor: pointer;
    transition: transform .6s ease-out;
  }
  &:hover {
    &::before {
      transform: translateY(-15px);
    }
  }
}

.header__lang {
  position: relative;
  align-self: flex-start;
  width: 65px;
  margin-top: 17px;
  border: 1px solid $primary-color;
  border-radius: 3px;
  vertical-align: middle;
  line-height: 34px;
  cursor: pointer;
  &--open {
    border-radius: 3px 3px 0 0;
    border-bottom-color: transparent;
    .header__lang-active {
      &::before {
        transform: rotate(-132deg);
      }
    }
    .header__lang-select {
      display: block;
    }
  }
}

.header__lang-select {
  position: absolute;
  top: 100%;
  right: 0;
  left: -1px;
  display: none;
  width: 65px;
  border: 1px solid $primary-color;
  border-top-color: transparent;
  border-radius: 0 0 3px 3px;
  background-color: #fff;
}

.header__lang-active {
  position: relative;
  display: inline-block;
  padding-right: 18px;
  border: none;
  vertical-align: middle;
  background-color: transparent;
  line-height: 16px;
  cursor: pointer;
  color: #010101;
  font-size: 12px;
  text-transform: uppercase;
  &::before {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    width: 7px;
    height: 7px;
    border-right: 1px solid #010101;
    border-bottom: 1px solid #010101;
    transform: rotate(45deg);
    transition: all .15s ease-out;
  }
}

.header__lang-item {
  padding: 0 16px;
  text-align: left;
  &:hover {
    text-decoration: underline;
  }
  a {
    font-size: 13px;
  }
}

.content-wrapper {
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.header__main {
  position: fixed;
  top: 88px;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: rgba(8, 8, 8, .9);
  z-index: 1;
}

.header__title {
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  transform: translateY(-50%);
  z-index: 3;
}

.header__bg {
  height: auto;
  width: 100%;
}

.menu {
  margin-right: 34px;
  .header__lang,
  .header__contacts {
    display: none;
  }
}

.menu__list {
  font-size: 0;
}

.menu__item {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  display: block;
  padding: 9px 27px;
  text-transform: uppercase;
  font-size: 12px;
  color: #888f9b;
  transition: all .35s ease-out;
  &:hover {
    color: #010101;

  }
  &--active {
    border: 1px solid $primary-color;
    border-radius: 3px;
    background-color: #fff;
    color: #010101;
    &:hover {
      border-color: #000;
    }
  }
}

.header__contacts {
  position: relative;
  margin-right: 26px;
  padding-left: 26px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 28px;
    margin-top: -14px;
    background: url(./../img/svg/tel-icon.svg) no-repeat center;
  }
  a {
    display: block;
    color: #010101;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.intro__subtitle {
  color: $primary-color;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 100;
}

.breadcrumb {
  @include container;
  padding-top: 35px;
  padding-bottom: 15px;
  text-align: left;
  font-size: 0;
}

.breadcrumb__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #000000;
  font-size: 14px;
  a {
    display: block;
    padding-right: 20px;
    color: #888f9b;
    font-size: 14px;
    transition: all .35s ease-out;
    &::before {
      content: "/\00a0";
      position: absolute;
      right: 4px;
      top: 50%;
      color: #888f9b;
      font-size: inherit;
      transform: translateY(-50%);
    }
    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

.filter {
  background-color: #f8f9fa;
  margin-top: 14px;
}

.filter__inner {
  @include container;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 15px;
  text-align: left;
  font-size: 0;
}

.filter__title {
  margin-right: 12px;
  padding-top: 27px;
  color: #002e5b;
  opacity: .5;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  text-transform: uppercase;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter__item {
  margin-right: 4px;
  margin-bottom: 10px;
}

.filter__btn {
  padding: 3px 10px;
  color: #002e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: all .35s ease-out;
  &:hover {
    border-color: $primary-color;
  }
  &:active {
    border-color: #000000;
  }
  &--active {
    background-color: #fdc213;
    &:active {
      border-color: transparent;
    }
  }
}

.catalog {
  @include container;
  padding-top: 35px;
  padding-bottom: 33px;
  text-align: left;
  h2 {
    margin-bottom: 20px;
    color: #040303;
    font-size: 25px;
    line-height: 1.52;
    text-transform: none;
    font-weight: 700;
    &::before {
      display: none;
    }
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7px;
  font-size: 0;
}

.catalog__item {
  position: relative;
  flex: 1 31.31%;
  max-width: 32.31%;;
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid transparent;
  box-shadow: 0 5px 10px rgba(6, 6, 6, 0.13);
  transition: all .35s ease-out;
  &:nth-child(3n) {
    margin-right: 0;
  }
  h3 {
    margin-top: auto;
    padding: 19px;
    background-color: #fff;
    text-align: center;
    color: #040303;
    font-size: 19px;
    font-weight: 300;
    line-height: 2;
    text-transform: uppercase;
  }
  &:hover {
    outline: 1px solid #fdc213;
    box-shadow: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.catalog__img {
  font-size: 0;
}

.categories-wrapper {
  position: relative;
  z-index: 10;
  background-color: #fff;
}

.categories {
  position: relative;
  @include container();
}

.categories__inner {
  position: absolute;
  left: 15px;
  right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories__item {
  position: relative;
  display: inline-block;
  flex: 1 33.33333%;
  vertical-align: top;
  max-width: 380px;
  font-size: 0;
  overflow: hidden;
  transition: all .6s ease-out;
  img {
    width: inherit;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to top, #000000 0%, rgba(27, 27, 35, 0) 100%);
    transition: all .6s ease-out .15s;
  }
  &:hover {
    &::before {
      opacity: 0;
    }
    .categories__title {
      transform: translateY(100%);
    }
  }
}

.categories__title {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
  padding-bottom: 35px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.52;
  text-transform: uppercase;
  text-align: center;
  transform: translate(0);
  transition: all .3s ease-out;
  &:before {
    display: none;
  }
}

.about {
  position: relative;
  z-index: 10;
  background-color: #fff;
}

.about__inner {
  @include container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
  padding-top: 80px;
  text-align: left;
}

.about__title {
  margin-bottom: 25px;
  &::before {
    background-position: 0 100%;
  }
}

.about__desc,
.about__photo {
  flex: 1;
}

.about__desc {
  max-width: 549px;
  padding-right: 20px;
  p {
    text-align: left;
    color: #333333;
    font-size: 16px;
    line-height: 1.56;
    font-weight: 300;
  }
}

.about__more {
  display: inline-block;
  text-align: left;

}

.about__more-btn {
  margin-top: 20px;
  padding: 7px 36px;
}

.about__photo {
  text-align: right;
}

.features {
  position: relative;
  padding-top: 57px;
  padding-bottom: 47px;
  background: $primary-color url(./../img/bg-features.png) center no-repeat;
  background-size: cover;
  z-index: 10;
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .features {
    background-image: url(./../img/bg-features@2x.png);
  }
}

.features__inner {
  @include container;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features__item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.features__rhombus {
  width: 115px;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 15px;
  line-height: 140px;
  vertical-align: middle;
  background: url(./../img/svg/icon-figure.svg) center no-repeat;
  img {
    vertical-align: middle;
  }
}

.features__subject {
  color: #2c2e37;
  font-size: 18px;
  font-weight: 900;
}

.video {
  position: relative;
  z-index: 10;
  background-color: #fff;
}

.video__inner {
  @include container;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px;
  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.video__item {
  position: relative;
  max-width: 500px;
  font-size: 0;
  cursor: pointer;
  &:first-child {
    margin-right: 30px;
  }
  &:hover {
    .video__btn-play {
      transform: scale(1.1);
      &::before {
        transform: scale(.85);
      }
    }
  }
}

$play-width: 90px;
$play-height: 90px;
.video__btn-play {
  position: absolute;
  width: $play-width;
  height: $play-width;
  top: 50%;
  left: 50%;
  margin-left: -45px;
  margin-top: -45px;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  font-size: 0;
  transform: scale(1);
  cursor: pointer;
  transition: all .4s;
  &::before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    background-color: #ffffff;
    opacity: 0.2;
    border-radius: 50%;
    transition: all .4s;

  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 19px solid #1a1a1d;
    transform: translate(-50%, -50%);
  }
}

.callback {
  position: relative;
  background: #2c2e37 url(./../img/callback-bg.jpg) center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 65px;
  z-index: 10;
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .callback {
    background-image: url(./../img/callback-bg@2x.jpg);
  }
}

.callback__inner {
  @include container;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.field {
  padding: 24px 20px 23px 20px;
  margin-right: 21px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  &:last-child {
    margin-right: 0;
  }
  &:focus {
    border-radius: 3px;
    border: 1px solid #ffd800;
    background-color: rgba(255, 255, 255, 0);
  }
  &::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.callback__field {
  &:first-child {
    width: 225px;
  }
  &:last-child {
    width: 216px;
  }
}

.callback__btn {
  width: 228px;
  border-radius: 3px;
  background-color: #ffd800;
  color: #080e17;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all .35s;
  &:hover {
    background-color: lighten(#ffd800, 15%);
  }
  &:active {
    background-color: darken(#ffd800, 10%);
  }
}

.reviews {
  position: relative;
  padding-top: 75px;
  padding-bottom: 90px;
  background-color: #fff;
  z-index: 10;
}

.slider {
  position: relative;
  max-width: 1300px;
  padding: 0 90px 0 85px;
  margin: 0 auto;
}

.reviews__btn {
  position: absolute;
}

.slide__item {
  position: relative;
  flex: 1;
  padding-right: 10px;
  text-align: left;
  blockquote {
    position: relative;
    margin-bottom: 27px;
    padding-top: 25px;
    color: #adadad;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.83;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 18px;
      background: url(./../img/quote.png) 0 0 no-repeat;
    }
  }

}

.slide__author-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slide__user-pic {
  width: 64px;
  height: 64px;
  margin-right: 19px;
  border-radius: 50%;
  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
}

.slide__name {
  font-family: "Open Sans";
  font-size: 16px;
  color: #bcbcbc;
  font-weight: 700;
}

.slide__attainment {
  padding-left: 3px;
  color: #fdc037;
}

.reviews__btn {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 33px;
  margin-top: -11px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0;

  z-index: 2;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -11px;
    margin-left: -11px;
    border-left: 3px solid #cbcccd;
    border-bottom: 3px solid #cbcccd;
    transition: all .35s ease-out;
  }
  &--left {
    left: 0;
    &::before {
      transform: rotate(45deg);
    }
  }
  &--right {
    right: 0;
    &::before {
      transform: rotate(-135deg);
    }
  }
  &:hover {
    &::before,
    &::after {
      border-color: #000;
    }
  }
}

.partners {
  background-color: #f8f9fa;
}

.partners__inner {
  @include container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 75px 16px 71px 16px;
}

.footer {
  position: relative;
  z-index: 10;
  background-color: #fff;
}

.footer__desc {
  @include container;
  max-width: 774px;
  margin-bottom: 46px;
  padding-top: 42px;
  p {
    color: #adadad;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
  }
}

.footer__copy {
  background-color: #2d2d2d;
}

.footer__copy-inner {
  @include container;
  padding: 20px 0;
  p {
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
  }
}

.soc {
  margin-bottom: 64px;
}

.soc__item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
  &:last-child {
    margin-right: 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #03a9f4;
    border-radius: 100%;
    transform: scale(0);
    transition: all 0.25s;
    z-index: 1;
  }
  &:hover {
    &::before,
    &::after {
      transform: scale(1);
    }
    .soc__link {
      background-color: transparent;
    }
  }
}

.soc__link {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  background-color: #e6e9ed;
  border-radius: 50%;
  font-size: 0;
  overflow: hidden;
  transition: background .3s ease-out;
  z-index: 2;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }
  &--facebook {
    &::before {
      width: 14px;
      height: 26px;
      background-image: url(./../img/svg/fb.svg);
    }
  }
  &--twitter {
    &::before {
      width: 30px;
      height: 21px;
      background-image: url(./../img/svg/tw.svg);
    }
  }
  &--vk {
    &::before {
      background-image: url(./../img/svg/vk.svg);
      width: 35px;
      height: 21px;
    }
  }

  &--google {
    &::before {
      width: 25px;
      height: 27px;
      background-image: url(./../img/svg/google.svg);
    }
  }

  &--youtube {
    &::before {
      width: 25px;
      height: 27px;
      background-image: url(./../img/svg/youtube-play.svg);
    }
  }
}

.technique {
  max-width: 1172px;
  margin: 10px auto 10px auto;
  padding: 0 16px;
  text-align: left;
  & ~ .reviews {
    padding-top: 65px;
  }
}

.technique__inner {
  padding: 30px 16px 60px 16px;
  box-shadow: 0 5px 10px rgba(6, 6, 6, 0.13);
}

.technique__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 34px;
}

.technique__photo {
  align-self: flex-start;
  width: 392px;
  margin-right: 32px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}

.technique__single {
  img {
    width: 100%;
  }
}

.technique__preview {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 21px 36px 18px 36px;
  text-align: center;
}

.technique__arrow {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
  transform: translateY(-50%);
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid $primary-color;
  }
  &--back {
    left: 10px;
    &::before {
      border-left: 1px solid $primary-color;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &--next {
    right: 13px;
    &::before {
      border-right: 1px solid $primary-color;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.technique__item {
  padding: 0 5px;
  &:last-child {
    margin-right: 0;
  }
}

.technique__desc {
  flex: 1;
}

.technique__desc {
  h2 {
    margin-bottom: 15px;
    color: #010101;
    font-size: 30px;
    font-weight: 500;
    text-transform: none;
    text-align: left;
    &::before {
      display: none;
    }
  }
}

.technique__desc-inner {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 25px;
  border-bottom: 1px solid #eeeeee;
}

.technique__text {
  p {
    text-align: left;
    color: #adadad;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.625;
  }
}

.technique__price-box {
  max-width: 176px;
  border: 1px solid #eeeeee;
  margin-left: 20px;
  padding-top: 20px;
  text-align: center;
}

.technique__some {
  display: block;
  margin-bottom: 13px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 500;
  color: #010101;
}

.technique__price {
  display: block;
  padding: 14px;
  background-color: $primary-color;
  color: #010101;
  font-size: 30px;
  font-weight: 700;
  small {
    font-weight: 500;
    font-size: 16px;
  }
}

.technique__features {
  padding-top: 27px;
  li {
    color: #adadad;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.625;
  }
}

.technique__features-title {
  display: block;
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 18px;
}

.technique__order {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 27px;
  padding: 30px;
  padding-bottom: 10px;
  background-color: #f8f9fa;
}

.technique__field {
  display: block;
  width: 100%;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #c0c0c0;
  background-color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  box-sizing: border-box;
  transition: all .35s ease-out;
  &::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &--date {
    width: 125px;
    padding-right: 10px;
    &:last-of-type {
      margin-right: 44px;
    }
  }
  &:hover {
    border: 1px solid #000;
  }
  &:focus {
    box-shadow: 0 5px 10px rgba(6, 6, 6, 0.13);
    border: 1px solid #ffd800;
  }
}

.technique__order-submit {
  width: 228px;
  margin-bottom: 20px;
  padding: 12px;
  border: none;
  border-radius: 3px;
  background-color: #ffd800;
  color: #080e17;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .35s;
  box-sizing: border-box;
  &:hover {
    background-color: lighten(#ffd800, 15%);
  }
  &:active {
    background-color: darken(#ffd800, 10%);
  }
}

.technique__field-group {
  display: flex;
  &:first-of-type {
    margin-right: 20px;
    .technique__field {
      &:first-child {
        max-width: 225px;
      }
      &:last-child {
        margin-right: 0;
        max-width: 216px;
      }
    }
  }
  &:last-of-type {
  }
}

.technique__info {
  margin-bottom: 40px;
}

.technique__subject-info {
  display: block;
  margin-bottom: 13px;
  color: #010101;
  font-size: 18px;
  font-weight: 500;
}

.technique__characteristics {
  width: 100%;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  tr {
    opacity: 1;
    transition: all .35s ease-out;
    &:hover {
      background-color: #e6e9ed;
      td {
        color: #000000;
      }
    }
    &:last-child {
      td {
        border-bottom: 1px solid #ebebeb;
      }
    }
    td {
      padding: 11px;
      padding-right: 33px;
      border-top: 1px solid #ebebeb;
      color: #adadad;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.625;
      vertical-align: middle;
      transition: all .35s ease-out;
      &:first-child {
        padding-left: 21px;
      }
      &:last-child {
        padding-left: 30px;
        text-align: right;
      }
    }
  }
}

.blog {
  @include container;
  display: flex;
  margin-bottom: 78px;
  padding-top: 10px;
  text-align: left;
}

.blog__list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-self: flex-start;
  margin-right: 30px;
}

.blog__post {
  width: 44%;
  margin-bottom: 31px;
  margin-right: 30px;
  &:nth-child(2n) {
    margin-right: 0;
  }
}

.blog__public {
  margin-bottom: 10px;
  color: #adadad;
}

.blog__info-post {
  h2 {
    margin-bottom: 12px;
    color: #010101;
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
  }
}

.blog__post-single {
  width: 95.4%;
  h2 {
    font-size: 24px;
  }
  p {
    margin-bottom: 15px;
  }
}

.blog__user-name {
  padding-right: 4px;
  padding-left: 4px;
  color: #000000;
  font-weight: 700;
}

.blog__img {
  margin-bottom: 26px;
}

.blog__preview {
  p {
    color: #adadad;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
}

.blog__sidebar {
  width: 292px;
  align-self: flex-start;
  margin-left: auto;
}

.blog__search {
  margin-bottom: 47px;
}

.blog__field-search {
  display: inline-block;
  width: 292px;
  margin-left: auto;
  margin-right: auto;
  padding: 19px 19px 19px 21px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  color: #c1c1c1;
  font-size: 16px;
  background: #ffffff url(./../img/svg/search-icon.svg) 90% 50% no-repeat;
  transition: border-color .3s ease-out;
  &:hover {
    border: 1px solid #fdc213;
  }
  &:focus {
    background: none;
  }
  &::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.blog__cat {
  margin-bottom: 34px;
  strong {
    display: block;
    margin-bottom: 9px;
    font-size: 18px;
    color: #010101;
    font-weight: 500;
  }
}

.blog__cat-item {
  border-bottom: 1px solid #ebebeb;
  line-height: 22px;
  &--active {
    .blog__cat-title {
      color: #000000;
    }
    .blog__quality-post {
      background-color: #fdc213;
      color: #ffffff;
    }
  }
}

.blog__cat-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}

.blog__cat-title {
  display: inline-block;
  color: #8d8d8d;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.blog__quality-post {
  float: right;
  min-width: 18px;
  height: 18px;
  margin-top: 2px;
  padding-right: 3px;
  padding-left: 3px;
  color: #505050;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #f8f9fa;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}

.blog__similar-models {
  strong {
    display: block;
    margin-bottom: 12px;
    color: #505050;
    font-weight: 700;
    line-height: 1.625;
  }
}

.blog__similar-models-img {
  display: block;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .toggle-menu {
    display: block;
  }
  .header__logo {
    &::before {
      display: none;
    }
  }
  .header__contacts {
    display: none;
  }
  .header__lang {
    display: none;
  }
  .menu {
    margin-right: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    div.header__contacts {
      margin-right: 0;
    }
  }
  .menu__list {
    display: inline-block;
    transform: translateY(200px);
    opacity: 0;
    transition: opacity .25s .25s, transform .5s;
  }
  .menu__item {
    display: block;
  }
  .menu__link {
    font-size: 14px;
  }
  .whiteBg {
    outline: none;
    display: block;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 16px;
    right: 18px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: all 0.45s;
    transform: scale(0);
  }

  .js-menu-show {
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    .menu {
      opacity: 1;
      visibility: visible;
    }
    .menu__list {
      transform: translateY(0);
      opacity: 1;
    }
    .menu__item {
      text-align: center;
    }
    .whiteBg {
      background-color: #e6e9ed;
      -webkit-transform: scale(65);
      transform: scale(65);
    }
    .menu {
      .header__contacts {
        display: block;
      }
      .header__lang {
        display: inline-block;
      }
      .header__contacts {
        margin-right: 38px;
        margin-top: 20px;
      }
      .header__lang {
        background-color: #fff;
      }
    }
  }
  .categories__item {
    flex: 1 33.33333%;
    max-width: 33.33333%;
  }
  .features {
    background-image: none;
  }
  .features__item {
    flex: 1 47%;
    margin-right: 0;
    &:first-child,
    &:nth-child(2) {
      margin-bottom: 20px;
    }
  }
  .header__title {
    h1, p {
      font-size: 40px;
    }
  }
  .catalog__item {
    flex: 1 30.31%;
    max-width: 30.31%;
  }
  .categories__title {
    font-size: 21px;
  }
  .video__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .reviews {
    padding-bottom: 0;
    padding-top: 30px;
  }
  .slide__item {
    padding-right: 0;
  }
  .slide__item {
    max-width: 100%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &:first-of-type {
      margin-right: auto;
    }
    blockquote {
      display: inline-block;
      text-align: left;
    }
  }
  .technique__order {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

  }
  .technique__desc-inner {
    flex-direction: column;
  }
  .technique__text {
    margin-bottom: 25px;
  }
  .technique__price-box {
    align-self: flex-start;
    margin-left: 0;
  }
  .technique__field {
    &:last-of-type {
      margin-right: 0;
    }
  }
  .technique__field-group:first-of-type {
    margin-right: 0;
  }
  .technique__field-group:first-of-type .technique__field:first-child {
    max-width: 221px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 25px;
  }
  .header__title {
    h1, p {
      font-size: 35px;
    }
  }
  .catalog {
    h2 {
      text-align: center;
    }
  }
  .catalog__list {
    flex-direction: column;
  }
  .catalog__item {
    flex: auto;
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    &:nth-child(3n) {
      margin-right: auto;
    }
  }
  .categories__inner {
    top: 0 !important;
  }
  .categories__item {
    flex: 1 240px;
    max-width: 240px;
  }
  .features__title {
    font-size: 22px;
  }
  .about__inner {
    flex-direction: column;
    padding-top: 30px;
  }

  .about__photo {
    text-align: center;
  }
  .about__desc {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .callback__inner {
    flex-direction: column;

  }
  .field {
    margin-right: 0;
    margin-bottom: 20px;
    &:first-child {
      width: 100%;
    }
  }
  .callback__btn {
    margin: 0 auto;
  }
  .video__inner {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
    padding-top: 0;
  }
  .video__item {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    &:first-child {
      margin-right: auto;
    }
  }
  .video__btn-play {
    width: $play-width / 2;
    height: $play-height / 2;
    margin-left: -22px;
    margin-top: -22px;
    &::after {
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 12px solid #1a1a1d;
    }
  }

  .callback {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .callback__btn {
    line-height: 42px;
  }
  .field {
    padding: 16px 20px 12px 20px;
  }
  .slider {
    padding: 30px 40px 30px 40px;
  }
  .reviews {
    padding-top: 36px;
    padding-bottom: 0;
  }
  .partners__inner {
    padding: 26px 16px 10px 16px;

  }
  .partners__item {
    width: 33.3333%;
    margin-bottom: 30px;
  }
  .technique__top {
    flex-direction: column;
    margin-bottom: 11px;
  }
  .technique__photo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .technique__price-box {
    align-self: center;
  }
  .technique__characteristics tr td:last-child {
    padding-right: 15px;
  }
  .technique__inner {
    padding-bottom: 0;
  }
  .technique__info {
    margin-bottom: 0px;
  }
  .technique ~ .reviews {
    padding-top: 15px;
  }
  .technique__field {
    &--tel {
      max-width: 225px;
    }
  }
  .technique__field-group {
    flex-direction: column;
    align-items: center;
  }
  .technique__field {
    margin-right: 0;
  }
  .technique__field:last-of-type {
    margin-right: 0;
  }
  .blog {
    flex-direction: column;
    justify-content: center;
  }
  .blog__list {
    flex-direction: column;
    margin-right: 0;
    justify-content: center;
  }
  .blog__post {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .blog__post-single {
    margin-bottom: 40px;
  }
  .blog__sidebar {
    width: 100%;
    align-self: center;
    margin-left: 0;
  }
  .blog__img {
    text-align: center;
  }
  .blog__similar-models-img {
    display: inline-block;
    width: 47%;
    text-align: right;
    &:nth-child(2n) {
      margin-right: 18px;
      text-align: center;
    }
  }
  .blog__search {
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  h2 {
    font-size: 20px;
  }
  .header__title {
    h1, p {
      font-size: 27px;
    }
  }
  .filter__item {
    display: block;
  }
  .catalog__item {
    flex: auto;
    max-width: 100%;
    width: 100%;
  }
  .categories__item {
    max-width: 100%;
  }
  .soc__item {
    margin-right: 10px;
  }
  .soc__link {
    width: 45px;
    height: 45px;
  }
  .video {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .technique__inner {
    padding-top: 10px;
  }
  .technique {
    padding-left: 0;
    padding-right: 0;
  }
  .technique__photo {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .technique__desc {
    h2 {
      font-size: 25px;
    }
  }
  .technique__characteristics tr td {
    padding-right: 15px;
  }
  .technique__characteristics tr td:last-child {
    padding-left: 15px;
  }
  .technique__characteristics tr td:first-child {
    padding-left: 15px;
  }
  .technique__characteristics tr td {
    padding: 10px;
  }
  .technique__info ~ .video {
    padding-bottom: 0;
  }

  .slide__item blockquote {
    font-size: 15px;
  }
  .slider {
    padding-top: 10px;
  }
  .blog__sidebar {
    width: 100%;
  }
  .blog__similar-models-img {
    text-align: center;
  }
  .blog__similar-models-img {
    display: block;
    width: 100%;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

///Animation on scroll
.intro__subtitle {
  transform: translateY(40px);
  opacity: 0;
  transition: all .7s ease-out;
}

h1 {
  transform: translateY(40px);
  opacity: 0;
  transition: .7s all ease-out .25s;
}

.about__text {
  transform: translateY(40px);
  opacity: 0;
  transition: all .7s ease-out .25s;
}

.about__more {
  transform: translateY(40px);
  opacity: 0;
  transition: all .7s ease-out .50s;
}

.about__photo {
  opacity: 0;
  transform: translateX(60px);
  transition: all .6s ease-out .40s;
}

.features__item .features__rhombus {
  transform: rotate(360deg) scale(0);
  &:first-child {
    transition: .7s ease-out .30s;
  }
  &:nth-child(2) {
    transition: .7s ease-out .60s;
  }
  &:nth-child(3) {
    transition: .7s ease-out .90s;
  }
  &:nth-child(4) {
    transition: .7s ease-out 1.2s;
  }
}